
@model WebApplication1.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

@*<ul>
        <li>@Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li>@Model.FirstName</li>
        <li>@ViewBag.Email</li>
        <li>@ViewBag.Phone</li>
</ul>*@

